@font-face{
    font-family:headers;
    src:url("font/Roboto-Medium.ttf");
}
@font-face{
    font-family:custom;
    src:url("font/Roboto-Bold.ttf");
}
@font-face{
    font-family:regular;
    src:url("font/Roboto-Regular.ttf");
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 80px;
    display: block;
    position: relative;
    background-color: #20A2DD;
    text-align: center;
}
header span{
    font-weight: 600;
    font-family: headers;
    color: #FFFFFF;
    font-size: 1.5em;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.img-container{
    height: 400px;
    position: relative;
    text-align: center;
}
.img-container .svg-inject{
    width: 48%;
}
.automata{
    width: 100%;
    height: 269px;
    float: left;
    text-align: center;
    font-size: 1.2em;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000;
}
.word-container{
    width: 40%;
    height: 100%;
    float: left;
    overflow: auto;
}
.word-web{
    width: 20%;
    height: 100%;
    float: left;
    border-left: 1px solid #000;
    overflow: auto;
    word-break: break-all;
}
.word-ebay{
    width: 20%;
    height: 100%;
    float: left;
    border-style: solid;
    border-width: 0 1px 0 1px;
    border-color: #000000;
    overflow: auto;
    word-break: break-all;
}
.word-webay{
    width: 19.6%;
    height: 100%;
    float: left;
    overflow: auto;
    word-break: break-all;
}
.automata #header{
    height: 10%;
    font-family: custom;
}
.word{
    height: 73%;
    overflow: auto;
    font-size: 0.9em;
}
.word-container .word{
    height:89.8%;
}
.counter{
    height: 16%;
    display: block;
    position: relative;
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
}.counter span{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
    font-weight:600;
    color: #20A2DD;
}